/* css reset */

body, h1, h2, h3, h4, h5, h6 {
    max-width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro';
    background-color: #F5E7DC
}
.hLink {
    color: blue;
}
header {
    display: flex;
    justify-content: center;
    background-color: #aa8abd;
    border-bottom: 3px solid #3B0273;
}
.levantLogo {
    filter: drop-shadow(0.5mm 1mm 0.6mm #3B0273);
}

figcaption {
    font-size: 1.25rem;
    text-align: center;
    padding-right: 40px;
    color: #3B0273; 
    filter: drop-shadow(0.2mm .6mm 0.2mm #F5E7DC75);
}
h1 {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding-right: 40px;
    
}

p {
    margin: 20px;
    color: #3B0273; 
}
blockquote {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18pt;
    font-weight: 100;
    color: #3B0273; 
}
/* box model fix here */
* nav { -moz-box-sizing: border-box; -webkit-box-sizing: 
    border-box; box-sizing: border-box; }

nav {
background-color: #64428c;
font-family: "Verdana";
}

nav ul.mynav li {
    float: left;
    list-style-type: none;
    
}
nav ul.mynav li a {
    display: block;
    padding: 15px 40px;
    color: #F5E7DC; 
    text-decoration: none;
    border-left: solid 3px #F5E7DC;
    
    
  
}
/* activated state for list items */
nav ul.mynav li.active a {
    background-color: #FAA16F; 
    color: #3B0273
}

/* hover state for list for list items */
nav ul.mynav li a:hover {
    background-color: #64428c;
    color: #F5E7DC
    
    
}

.keepOpen {
    clear: both;
}

main {
    background-image: linear-gradient(0deg, #7C428C80 0%, #F5E7DC 85%);
    border-top: 3px solid #64428c;   
}
.diagrams {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px 0px 20px 0px;
    
}
.example_1 {
    max-width: 500px;
    max-height: auto;
    padding-bottom: 50px;
    
}
.example_2 {
    max-width: 500px;
    max-height: auto;
    padding-top: 45px;  
}

footer {
    
    background-color: #7C428C60;
    border-top: 3px solid #3B0273;  
}
h2 {
    text-align: center;
    font-size: 12pt;
    font-weight: 100;
    padding-top: 20px;
    background-color: #7C428C;
    color: #F5E7DC;
}
h3 {
    display: flex;
    justify-content: center;
    font-size: 10pt;
    font-weight: 100;
    background-color: #6442;
    color: #F5E7DC;
}