/* css reset */

body,  h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro';
    background-color: #F5E7DC 
}

header {
    display: flex;
    justify-content: center;
    
}

figcaption {
    font-size: 1.25rem;
    text-align: center;
    padding-right: 40px;
    color: #3B0273; 
}
h1 {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding-right: 40px;
    color: #3B0273; 
}
/* box model fix here */
* nav { -moz-box-sizing: border-box; -webkit-box-sizing: 
    border-box; box-sizing: border-box; }

nav {
background-color: #7C428C;
font-family: "Verdana";
}

nav ul.mynav li {
    float: left;
    list-style-type: none;
    
}
nav ul.mynav li a {
    display: block;
    padding: 15px 40px;
    color: #F5E7DC; 
    text-decoration: none;
    border-left: solid 3px #F5E7DC;
    
  
}
/* activated state for list items */
nav ul.mynav li.active a {
    background-color: #FAA16F; 
    color: #3B0273
}

/* hover state for list for list items */
nav ul.mynav li a:hover {
    background-color: #3B0273;
    color: #F5E7DC
    
    
}

.keepOpen {
    clear: both;
}

main {
    background-image: linear-gradient(0deg, #7C428C80 0%, #F5E7DC 85%);   
}
.diagrams {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0px 20px 0px;
    
}
.example_1 {
    max-width: 500px;
    max-height: auto;
    padding-bottom: 50px;
    
}
.example_2 {
    max-width: 500px;
    max-height: auto;
    padding-top: 45px;
    
    
}

footer {
    background-color: #7C428C60;
}
h2 {
    font-size: 12pt;
    background-color: #7C428C35;
}
