/* css reset */
body, p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro';
    background-color: #F5E7DC 
}

/* box model fix here */
* nav { -moz-box-sizing: border-box; -webkit-box-sizing: 
    border-box; box-sizing: border-box; }

nav {
background-color: #F2D6BD;
font-family: "Verdana";
}
nav ul.mynav li {
    float: left;
    list-style-type: none;
}
nav ul.mynav li a {
    display: block;
    padding: 10px 40px;
    color: #3B0273; 
    text-decoration: none;
    border-left: solid 3px #F5E7DC;
  
}
/* activated state for list items */
nav ul.mynav li.active a {
    background-color: #FAA16F; 
    color: #F5E7DC
}

/* hover state for list for list items */
nav ul.mynav li a:hover {
    background-color: #7C428C;
    color: #F5E7DC
    
}

.keepOpen {
    clear: both;
}