/* style guide 
Colors
-Principal colors- #F5E7DC, #aa8abd, #3B0273
-Dropshadow- #F5E7DC75
-Active state- #FAA16F
-hyperlink- blue
-Font family- 'Source Sans Pro' 
*/

/* css reset */

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  max-width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro";
  background-color: #f5e7dc;
}
.hLink {
  color: blue;
}
header {
  display: flex;
  justify-content: center;
  background-color: #aa8abd;
  border-bottom: 3px solid #3b0273;
}
.levantLogo {
  max-width: 100%;
  min-width: 25%;
  filter: drop-shadow(0.5mm 1mm 0.6mm #3b0273);
}

figcaption {
  font-size: 1.25rem;
  text-align: center;
  padding-right: 40px;
  color: #3b0273;
  filter: drop-shadow(0.2mm 0.6mm 0.2mm #f5e7dc75);
}

#navbar {
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #64428c;
  font-family: "Verdana";
}
.mynav {
  display: flex;
  list-style-type: none;
  font-family: "Verdana";
}

.mynav a {
  color: #f5e7dc;
  font-style: bold;
  font-weight: 400;
  padding: 15px 40px;
  text-decoration: none;
}
.active a {
  background-color: #faa16f;
  color: #3b0273;
}

#navbar a:hover {
  background-color: #aa8abd;
  transition: 0.4s;
}
a:hover {
  color: #3b0273;
  transition: color, 0.4s;
}
